@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary-color-1: #f44336;
	--bg-1: #111;
	--bg-2: #1e1e1e;
	--bg-3: #ffddab;
	--bg-6: rgb(0, 0, 0, 0.4);
	--color-1: #4f4f4f;
	--color-2: #ddd;
	--color-3: #5e5e5e;
	--color-4: #a5a5a5;
	--color-5: rgb(0, 0, 0, 0.1);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

* {
	text-decoration: none;
	list-style: none;
}

body {
	background-image: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	color: var(--color-1);
	font-family: var(--font-oswald-sans), Arial, Helvetica, sans-serif;
}

a {
	color: #fff;
	transition: all 0.3s ease-in;
}

a:hover {
	color: var(--primary-color-1);
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 5px RGBA(0, 0, 0, 0);
}

main a,
section a,
article a,
li a {
	color: var(--primary-color-1);
}

.postImg {
	filter: drop-shadow(1px 1px 10px #000);
	transition: scale 0.5s ease;
}

.postImg:hover {
	scale: 1.1;
}

.content {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.content h3,
h4 {
	font-weight: 600;
	margin-top: 10px;
}

.content ul li {
	list-style-type: decimal-leading-zero;
	margin-left: 10px;
}

.description a {
	color: var(--primary-color-1);
}

.downloadBtn {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: fit-content;
	max-width: 145px;
	height: auto;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: #fff;
	background-color: var(--primary-color-1);
	border: none;
	border-radius: 8px;
	margin: 15px 0;
	padding: 6px 12px;
	filter: drop-shadow(1px 1px 10px #000);
	transition: all 0.7s ease;
}

.downloadBtn:hover {
	max-width: 100%;
	color: #fff;
	filter: drop-shadow(1px 1px 5px #8b8b8b);
	transform: scale(0.9);
}

.downloadBtn:hover .text-extra {
	opacity: 1;
}

.text-extra {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.serverLink {
	display: block;
	overflow: hidden;
	height: auto;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: #fff;
	background-color: var(--primary-color-1);
	border: none;
	border-radius: 8px;
	margin: 15px 0;
	padding: 6px 12px;
	filter: drop-shadow(1px 1px 10px #000);
	transition: all 0.7s ease;
}

.inform {
	background-color: var(--bg-3);
}

.about h3 {
	color: var(--bg-2);
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.about ul {
	padding-left: 20px;
}

.about ul li {
	list-style-type: square;
}

.about a:hover {
	opacity: 0.7;
}

details {
	display: block;
	background: #fff;

	box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 1.5rem;
}
summary::-webkit-details-marker {
	display: none;
}
summary::-moz-list-bullet {
	list-style-type: none;
}
summary::marker {
	display: none;
}
summary {
	display: block;
	padding: 0.3em 0.3em 0.3em 1.4em;
	font-size: 1.4em;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #e2e8f0;
}
summary:before {
	top: 0.4em;
	left: 0.3em;
	color: transparent;
	background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=')
		no-repeat 50% 50% / 1em 1em;
	width: 1em;
	height: 1em;
	content: '';
	position: absolute;
	transition: transform 0.5s;
}
details[open] > summary:before {
	transform: rotateZ(90deg);
}
summary ~ * {
	padding: 0 2em 10px 2em;
}
details[open] summary ~ * {
	animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
summary:focus {
	outline: 0;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 425px) {
	.wrapper {
		max-width: 400px;
	}

	.postImg:hover {
		scale: 1;
	}
}
